<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <%# show interior page title if it's in the frontmatter %>
        <title><%= site_title %><% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/assets/stylesheets/main.css">
        <script src="/assets/javascripts/vendor/modernizr.js"></script>
    </head>
    <body>

        <%= yield %>

        <%= partial "layouts/partials/footer" %>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/javascripts/vendor/jquery.js"><\/script>')</script>
        <script src="/assets/javascripts/main.js"></script>

        <%= partial "layouts/partials/analytics" %>

    </body>
</html>
