<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <%# show interior page title if it's in the frontmatter %>
        <title><%= data.site.organization %> <%= data.site.title %> <%= data.site.year %><% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <%# favicon_tag 'images/favicon.png' %>
        <%= javascript_include_tag "lib" %>
        <%= stylesheet_link_tag "main" %>
    </head>
    <body <% if current_page.metadata['color'].present? %>class="theme-highlight <%= current_page.metadata['color'] %>"<% end %>>

        <%= yield %>

        <%= partial "layouts/partials/footer" %>

        <%= javascript_include_tag "main" %>
        <%= partial "layouts/partials/analytics" %>

    </body>
</html>
