<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <%# show interior page title if it's in the frontmatter %>
        <title><%= data.site.organization %> <%= data.site.title %> <%= data.site.year %><% if current_page.data.title.present? && current_page.data.title != "home" %> | <%= current_page.data.title %><% end %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">        

        <%# favicon_tag 'images/favicon.png' %>     
        <%= stylesheet_link_tag "main" %>

        <% if content_for?(:local_styles) %>
            <%= yield_content :local_styles %>
        <% end %>
    </head>
    <body class="<%= current_page.metadata['slug'].to_s.urlize %><% if current_page.metadata['color'].present? %> theme-highlight <%= current_page.metadata['color'] %><% end %>">

        <!-- icons -->
        <%= partial "layouts/partials/svgdefs" %>

        <%= yield %>

        <%= partial "layouts/partials/footer" %>

        <%= javascript_include_tag "main" %>
        <%= javascript_include_tag "lib" %>
        <%= partial "layouts/partials/analytics" %>

    </body>
</html>