<% wrap_layout :layout do %>
    <%= partial "layouts/partials/header" %>
    <article class="message">
        <div class="message-nav">
            <a href="/" class="button read_more">&lsaquo; Back to the <strong>Annual Report</strong></a>
        </div>
        <header class="message-header">
            <h1 class="message-title"><%= current_page.data.title %></h1>
            <% if current_page.data.subtitle.present? %>
            <span class="message-subtitle"><%= current_page.data.subtitle %></span>
            <% end %>
        </header>
        <main class="message-content">
            <aside class="message-feed">
                <ul>
                    <% current_page.data.authors.each do |author| %>
                    <li class="feed-item card small">
                        <img class="card-thumb" src="<%= asset_url("#{data.site.paths.content}#{current_page.data.chapter}/#{author.portrait}") %>" alt="<%= author.name %>" />
                        <div class="card-content">
                            <h3 class="card-title"><%= author.name %></h3>
                            <span class="card-subtitle"><%= author.job_title %></span>
                        </div>
                    </li>
                    <% end %>
                </ul>
            </aside>
            <%= yield %>
        </main>

    </article>
<% end %>
