---
layout: layout
---

<% current_page.add_metadata({ 'title' => locals[:title], 'slug' => locals[:slug], 'type' => locals[:type], 'order' => locals[:order] }) %>

<%= partial "layouts/partials/header" %>

<article class="chapter theme-<%= locals[:color] %>">
    <header class="chapter-hero">
        <h1 class="hero-headline"><%= locals[:title].titleize %></h1>
    </header>

    <!-- Introduction -->
    <div class="chapter-section first l-wrapper narrow" id="intro">
        <%# https://forum.middlemanapp.com/t/sitemap-where-querying-the-sitemap/1241/2 %>
        <% sitemap.where(:chapter => locals[:slug], :type => "introduction").order_by(:order).all.each do |intro| %>
            <%# http://stackoverflow.com/questions/25219509/how-to-get-the-raw-content-from-all-pages %>
            <%= intro.render %>
        <% end %>
    </div>

    <!-- Sections -->
    <% sitemap.where(:chapter => locals[:slug]).order_by(:order).all.each do |section| %>
        <% unless section.data.type == "introduction" %>
            <section class="chapter-section<% if section.data.type.present? %> <%= section.data.type %><% end %>" id="composition">
                <h2 class="chapter-subtitle"><%= section.data.title %></h2>
                <div class="l-wrapper narrow">
                    <%= section.render %>
                </div>
            </section>
        <% end %>
    <% end %>
</article>

<!-- Local navigation (next/prev chapters) -->
<!-- https://github.com/middleman/middleman/issues/1110 -->
<!-- https://forum.middlemanapp.com/t/querying-proxy-pages-by-locals/1195 -->
<!-- https://forum.middlemanapp.com/t/creating-next-and-prev-links-for-pages/1414/3 -->

<%#= current_page.metadata['order'] %><%#= current_page.metadata['slug'] %>
<nav class="pagination">
    <h2 class="pagination-slug">Read more</h2>
    <ul class="l-wrapper">
        <% unless first_page(locals[:slug]) %>
        <li class="pagination-prev">
            <% resource = sitemap.resources.select {|r| r.metadata[:locals][:type] == "chapter" && r.metadata[:locals][:order] == (current_page.metadata['order'] - 1) } %>
            <% resource.each do |chapter| %>
            <a href="<%= asset_url("#{data.site.paths.chapter}#{chapter.metadata[:locals][:slug]}/") %><%#= pagination_url(current_page.metadata['order'], "prev") %>">
                <span class="pagination-subtitle">Previous</span>
                <strong class="pagination-title"><%= chapter.metadata[:locals][:title] %></strong>
            </a>
            <% end %>
        </li>
        <% end %>
        <% unless last_page(locals[:slug]) %>
        <li class="pagination-next">
            <a href="<%= pagination_url(current_page.metadata['order'], "next") %>">
                <span class="pagination-subtitle">Next</span>
                <strong class="pagination-title"><%= pagination_title(locals[:title], "next") %></strong>
            </a>
        </li>
        <% end %>
    </ul>
</nav>
