---
layout: layout
---
<%# grab 'local' data passed in through config file (line 42), and attach it to this page's metadata, so it's accessible in the sitemap %>
<% current_page.add_metadata({
    'title' => locals[:title],
    'subtitle' => locals[:subtitle],
    'slug' => locals[:slug],
    'color' => locals[:color],
    'type' => locals[:type],
    'order' => locals[:order],
    'image' => locals[:image],
    'image_align' => locals[:image_align],
}) %>

<% sections = sitemap.where(:chapter => locals[:slug]).order_by(:order).all %>

<% content_for :local_styles do %>
    <style>
        <%# http://www.css3.info/preview/multiple-backgrounds/ %>
        <% img_path = asset_url(data.site.paths.content + locals[:slug].to_s.urlize + '/') %>

        /* default bg */
        .chapter-hero {
            background-image: url('<%= img_path + locals[:image][0].to_s %>');
            <% if locals[:image_align] %>
                background-position: <%= locals[:image_align] %>;
            <% end %>
        }
    </style>
<% end %>

<%= partial "layouts/partials/header" %>

<article class="chapter">
    <header class="chapter-hero">
        <div class="chapter-hero-lockup">
            <h1 class="chapter-hero-headline"><%= locals[:title] %></h1>
            <% if locals[:subtitle].present? %>
            <span class="chapter-hero-subtitle"><%= locals[:subtitle] %></span>
            <% end %>
        </div>
    </header>

    <% if sections.length > 1 %>
    <!-- Jump Nav -->
    <nav class="chapter-jump_nav js-sticky">
        <ol>
            <% sections.each_with_index do |section, index| %>
                <% if section.data.type == "box" %>
                    <li><a class="jump_nav-item js-highlight" href="#<%= section.data.box_number.present? ? "box" + section.data.box_number.to_s : section.data.title.urlize %>"><% if section.data.box_number.present? %><strong>Box <%= section.data.box_number %>:</strong> <% end %><%= section.data.title %></a></li>
                <% else %>
                    <li><a class="jump_nav-item js-highlight" href="#<%= section.data.title.urlize %>"><%= section.data.title %></a></li>
                <% end %>
            <% end %>
        </ol>
        <a class="jump_nav-top" href="#">
            <%= partial("layouts/partials/icon", :locals => {:id => "arrow-up-outline", :classes => "jump_nav-top-icon",:fallback_type => "text", :fallback => "&uarr;"}) %> Back to top
        </a>
    </nav>
    <% end %>

    <!-- Introduction -->
    <% intro = sitemap.where(:chapter => locals[:slug], :type => "introduction").order_by(:order).all %>
    <% if intro.length >= 1 %>
    <div class="chapter-section first l-wrapper narrow" id="<%= intro[0].data.title.urlize %>">
        <%# https://forum.middlemanapp.com/t/sitemap-where-querying-the-sitemap/1241/2 %>
        <% intro.each do |intro| %>
            <%# http://stackoverflow.com/questions/25219509/how-to-get-the-raw-content-from-all-pages %>
            <%= intro.render %>
        <% end %>
    </div>
    <% end %>

    <!-- Sections -->
    <% sections.each do |section| %>
        <% unless section.data.type == "introduction" || section.data.type == "box" %>
            <section class="chapter-section<% if section.data.type.present? %> <%= section.data.type %><% end %>" id="<%= section.data.title.urlize %>">
                <h2 class="chapter-subtitle"><%= section.data.title %></h2>
                <div class="chapter-content">
                    <%= section.render %>
                </div>
            </section>
        <% end %>
        <% if section.data.type == "box" %>
            <aside class="box" id="<%= section.data.box_number.present? ? "box" + section.data.box_number.to_s : section.data.title.urlize %>">
                <span class="box-slug">Box <% if section.data.box_number.present? %><%= section.data.box_number %><% end %></span>
                <h1 class="box-title"><%= section.data.title %></h2>
                <div class="box-content">
                    <%= section.render %>
                </div>
            </aside>
        <% end %>
    <% end %>
</article>

<!-- Local navigation (next/prev chapters) -->
<!-- https://github.com/middleman/middleman/issues/1110 -->
<!-- https://forum.middlemanapp.com/t/querying-proxy-pages-by-locals/1195 -->
<!-- https://forum.middlemanapp.com/t/creating-next-and-prev-links-for-pages/1414/3 -->

<nav class="pagination js-sticky-stop">
    <h2 class="pagination-slug">Read more</h2>
    <ul class="pagination-wrapper">
        <%= get_current_index %>
        <% unless first_page? %>
        <li class="pagination-prev">
            <% resource = sitemap.resources.select {|r| r.metadata[:locals][:type] == "chapter" && r.metadata[:locals][:order] == (current_page.metadata['order'] - 1) } %>
            <% resource.each do |chapter| %>
            <a href="<%= asset_url("#{data.site.paths.chapter}#{chapter.metadata[:locals][:slug].urlize}/") %>">
                <span class="pagination-subtitle">Previous</span>
                <strong class="pagination-title"><%= chapter.metadata[:locals][:title] %></strong>
            </a>
            <% end %>
        </li>
        <% end %>
        <% unless last_page? %>
        <li class="pagination-next">
            <% resource = sitemap.resources.select {|r| r.metadata[:locals][:type] == "chapter" && r.metadata[:locals][:order] == (current_page.metadata['order'] + 1) } %>
            <% resource.each do |chapter| %>
            <a href="<%= asset_url("#{data.site.paths.chapter}#{chapter.metadata[:locals][:slug].urlize}/") %>">
                <span class="pagination-subtitle">Next</span>
                <strong class="pagination-title"><%= chapter.metadata[:locals][:title] %></strong>
            </a>
            <% end %>
        </li>
        <% end %>
    </ul>
</nav>
