<footer class="main" role="contentinfo">
    <div class="l-wrapper">
        <%= partial("layouts/partials/nav-main", :locals => { :classes => "footer-nav" }) %>
        <div class="footer-section">
            <a class="footer-lockup" href="/">
            <!-- GPOBA logo -->
                <%= partial("layouts/partials/logo", :locals => { :classes => "footer-logo" }) %>
                <span class="footer-title"><%= data.site.title %> <strong><%= data.site.year %></strong></span>
            </a>
            <ul class="footer-subnav">
                <li><a class="footer-subnav-item" href="http://gpoba.org">gpoba.org</a></li>
                <li><a class="footer-subnav-item" href="<%= asset_url data.site.download_version %>">Download the PDF version</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-utility">
        <div class="l-wrapper">
            <ul>
                <li class="footer-utility-item"><a href="">Acronyms &amp; Abbreviations</a></li>
                <li class="footer-utility-item"><a href="http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20146401~pagePK:50016803~piPK:50016805~theSitePK:13,00.html" target="_blank">Legal</a></li>
                <li class="footer-utility-item copyright"><small>&copy; Copyright Copyright <%= Time.now.year %> <%= data.site.copyright %></small></li>
            </ul>
        </div>
    </div>
</footer>
