<%# local vars used by main nav %>
<%# page_title ||= false %>
<%# prev_page_slug ||= false %>
<%# prev_page_url ||= false %>
<%# next_page_slug ||= false %>
<%# next_page_url ||= false %>

<footer class="main" role="contentinfo">
    <div class="l-wrapper">
        <%= partial("layouts/partials/nav", :locals => {
                :classes => "footer-nav",
                :toc_id => "js-footer-toc",
            }) %>
        <div class="footer-section">
            <a class="footer-lockup" href="<%= settings.url_root %>">
            <!-- GPOBA logo -->
                <%= partial("layouts/partials/logo", :locals => { :classes => "footer-logo" }) %>
                <span class="footer-title"><%= data.site.title %> <strong><%= data.site.year %></strong></span>
            </a>

            <a class="footer-toc js-has-flyout" href="#js-footer-toc">
                <%= partial("layouts/partials/icon", :locals => {
                        :id => "toc",
                        :classes => "nav-icon left",
                        :fallback_type => "none",
                        :fallback => "&lsaquo;"
                    }) %>
                <span class="nav-label">Contents</span>
            </a>

            <ul class="footer-subnav">
                <li><a class="footer-subnav-item" href="http://gpoba.org" target="_blank">gpoba.org</a></li>
                <li><a class="footer-subnav-item" href="<%= asset_url data.site.download_version %>" target="_blank">Download the PDF version</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-utility">
        <div class="l-wrapper">
            <ul>
                <li class="footer-utility-item"><a href="<%= asset_url 'acronyms' %>">Acronyms &amp; Abbreviations</a></li>
                <li class="footer-utility-item"><a href="<%= asset_url 'photo_credits' %>">Photo Credits</a></li>
                <li class="footer-utility-item"><a href="http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20146401~pagePK:50016803~piPK:50016805~theSitePK:13,00.html" target="_blank">Legal</a></li>
                <li class="footer-utility-item copyright"><small>&copy; Copyright <%= Time.now.year %> <%= data.site.copyright %></small></li>
            </ul>
        </div>
    </div>
</footer>
