<%# A simple partial for inserting SVG sprites. %>
<%# @param id: (string) the ID of the sprite you want %>
<%# @param classes: (string, optional) any classes you'd like to add.  %>
<%# @param role: ARIA role. use either 'img' (default) or 'presentation'. %>
<%# -> "presentation" designates it as simply decoration (and should be ignored by screenreaders) %>
<%# -> while "img" says it should have its own description. In the latter case, the title attribute acts like an alt  tag. %>

<% classes ||= "" %>
<% title ||= "" %>
<% role ||= "img" %>
<% type ||= "icon" %>
<% link ||= false %>
<% fallback_type ||= "png" %>
<% fallback ||= "#{id}.png" %>

<% if link != false %>
<a class="<%= type %> icon-<%= id %> <%= classes %>" href="<%= link %>">
<% end %>
    <svg <% if link == false %>class="<%= type %> icon-<%= id %> <%= classes %>"<% end %> title="<%= title %>" role="<%= role %>" preserveAspectRatio="xMinYMin meet">
        <use xlink:href="#icon-<%= id %>"></use>
        <% if fallback_type == "png" %>
        <image src="<%= asset_url("#{images_dir}/icons/#{fallback}") %>" xlink:href="" />
        <% else %>
        <desc>
            <%= fallback %>
        </desc>
        <% end %>
    </svg>
<% if link != false %>
</a>
<% end %>

<%# usage: %>
<%# partial("layouts/partials/icon", :locals => { :id => "[ NAME OF ICON ]", :classes => "[ ADDITIONAL CLASSES ]", :role => "img" }) %>