<% show_mobile_nav ||= false %>
<% page_title ||= false %>
<% prev_page_slug ||= false %>
<% prev_page_url ||= false %>
<% next_page_slug ||= false %>
<% next_page_url ||= false %>
<% classes ||= "main_nav" %>

<nav class="<%= classes %>" role="navigation">
    <% if show_mobile_nav %>
    <% if page_title %>
    <span class="main_nav-title"><%= page_title %></span>
    <% end %>
    <ul class="main_nav-pagination">
        <% if prev_page_url %>
        <li><a class="main_nav-item" href="<%= prev_page_url %>">
                <%= partial("layouts/partials/icon", :locals => {
                        :id => "arrow-left-outline",
                        :classes => "main_nav-icon left",
                        :fallback_type => "text",
                        :fallback => "&lsaquo;"
                    }) %>
                <span class="main_nav-label"><%= prev_page_slug %></span>
            </a>
        </li>
        <% end %>
        <% if next_page_url %>
        <li><a class="main_nav-item" href="<%= next_page_url %>">
                <span class="main_nav-label"><%= next_page_slug %></span>
                <%= partial("layouts/partials/icon", :locals => {
                        :id => "arrow-right-outline",
                        :classes => "main_nav-icon right",
                        :fallback_type => "text",
                        :fallback => "&lsaquo;"
                    }) %>
            </a>
        </li>
        <% end %>
        <li><a class="main_nav-toc js-has-flyout" href="#js-toc">
                <%= partial("layouts/partials/icon", :locals => {
                        :id => "toc",
                        :classes => "main_nav-icon left",
                        :fallback_type => "none",
                        :fallback => "&lsaquo;"
                    }) %>
                <span class="main_nav-label">Contents</span>
            </a>
        </li>
    </ul>
    <% end %>
    <ul class="main_nav-full" id="js-toc">
        <li>
            <a class="main_nav-item<% if current_page? "index.html" %> is-active<% end %>" href="/">Home</a>
        </li>
        <% data.chapters.each do |chapter| %>
            <% current_url = "#{data.site.paths.chapter}#{chapter.slug.urlize}/" %>
            <li>
                <a class="main_nav-item<% if current_dir? current_url %> is-active<% end %>" href="<%= asset_url(current_url) %>"><%= chapter.slug %></a>
            </li>
        <% end %>
    </ul>
</nav>
