---
title: Our portfolio
---

<article class="chapter">
    <header class="hero short">
        <h1 class="hero-headline">Our portfolio</h1>
    </header>

    <!-- <nav class="jump">
        <ul>
            <li class="nav-item"><a href="#intro">Introduction</a></li>
            <li class="nav-item"><a href="#composition">Composition</a></li>
            <li class="nav-item"><a href="#performance">Performance &amp; Results</a></li>
            <li class="nav-item"><a href="#monitoring">Monitoring &amp; Evaluation</a></li>
        </ul>
    </nav> -->

    <div class="chapter-section first l-wrapper narrow" id="intro">
        <p class="lead"><%= lorem.sentences 4 %>.</p>
        <% 1.upto(4) do |num| %>
            <p><%= lorem.sentences 4 %>.</p>
        <% end %>
    </div>

    <section class="chapter-section" id="composition">
        <h2 class="chapter-subtitle">Composition</h2>
        <div class="l-wrapper narrow">
            <img src="<%= lorem.image '800x400' %>" />
            <% 1.upto(4) do |num| %>
                <p><%= lorem.sentences 4 %>.</p>
            <% end %>
        </div>
    </section>

    <section class="chapter-section" id="performance">
        <h2 class="chapter-subtitle">Performance &amp; results</h2>
        <div class="l-wrapper narrow">
            <% 1.upto(4) do |num| %>
                <p><%= lorem.sentences 4 %>.</p>
            <% end %>
        </div>
    </section>

    <section class="chapter-section" id="monitoring">
        <h2 class="chapter-subtitle">Monitoring &amp; evaluation</h2>
        <div class="l-wrapper narrow">
            <img src="<%= lorem.image '800x400' %>" />
            <% 1.upto(4) do |num| %>
                <p><%= lorem.sentences 4 %>.</p>
            <% end %>
        </div>
    </section>

</article>

<nav class="pagination">
    <h2 class="pagination-slug">Read more</h2>
    <ul class="l-wrapper">
        <li class="pagination-prev">
            <a href="#">
                <span class="pagination-subtitle">Previous</span>
                <strong class="pagination-title">Overview</strong>
            </a>
        </li>
        <li class="pagination-next">
            <a href="#">
                <span class="pagination-subtitle">Next</span>
                <strong class="pagination-title">New Business</strong>
            </a>
        </li>
    </ul>
</nav>
