---
title: home
---

<header class="hero">
    <span class="hero-logo">GPOBA</span>
    <div class="hero-headline">
        <h1 class="hero-title">Annual Report</h1>
        <time class="hero-date">2015</time>
    </div>

    <%= partial("layouts/partials/nav-main", :locals => { :classes => "hero-nav" }) %>
</header>

<article class="chapter" role="main">

    <!-- Executive summary -->
    <div class="l-wrapper narrow chapter-content">
        <h1 class="chapter-title">A Year in Review</h1>
        <% 1.upto(6) do |num| %>
            <p><%= lorem.sentences 4 %></p>
        <% end %>
    </div>

    <!-- Leadership messages -->
    <aside class="chapter-aside">
        <h1 class="slug">Messages from our leadership</h1>
        <div class="l-wrapper">
            <ul class="gallery">
                <li class="gallery-item card horizontal small">
                    <a href="#" class="card-thumb">
                        <img src="<%= lorem.image '400x400' %>" />
                    </a>
                    <div class="card-content">
                        <h2 class="card-title">Ted Hypothetical</h2>
                        <span>Senior Director</span>
                    </div>
                </li>
                <li class="gallery-item card horizontal small">
                    <a href="#" class="card-thumb">
                        <img src="<%= lorem.image '400x400' %>" />
                    </a>
                    <div class="card-content">
                        <h2 class="card-title">Susan Example</h2>
                        <span>Program Manager</span>
                    </div>
                </li>
                <li class="gallery-item card horizontal small">
                    <a href="#" class="card-thumb">
                        <img src="<%= lorem.image '400x400' %>" />
                    </a>
                    <div class="card-content">
                        <h2 class="card-title">Mark Case</h2>
                        <span>Senior Director</span>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</article>

<section class="billboard">
    <div class="billboard-frame">
        <h1 class="billboard-title">Donor Contributions</h1>
        <p><%= lorem.sentences 6 %></p>
    </div>
</section>

<section class="panel">
    <h1 class="panel-slug">Sections</h1>
    <ul class="feed l-wrapper narrow">
        <li class="feed-item card horizontal">
            <a href="#" class="card-thumb">
                <img src="<%= lorem.image '600x400' %>" />
            </a>
            <div class="card-content">
                <h2 class="card-title">Overview</h2>
                <p><%= lorem.sentences 3 %></p>
                <a href="" class="read_more">Read More &rsaquo;</a>
            </div>
        </li>
        <li class="feed-item card horizontal">
            <a href="#" class="card-thumb">
                <img src="<%= lorem.image '600x400' %>" />
            </a>
            <div class="card-content">
                <h2 class="card-title">Our Portfolio</h2>
                <p><%= lorem.sentences 3 %></p>
                <a href="" class="read_more">Read More &rsaquo;</a>
            </div>
        </li>
        <li class="feed-item card horizontal">
            <a href="#" class="card-thumb">
                <img src="<%= lorem.image '600x400' %>" />
            </a>
            <div class="card-content">
                <h2 class="card-title">New Business</h2>
                <p><%= lorem.sentences 3 %></p>
                <a href="" class="read_more">Read More &rsaquo;</a>
            </div>
        </li>
        <li class="feed-item card horizontal">
            <a href="#" class="card-thumb">
                <img src="<%= lorem.image '600x400' %>" />
            </a>
            <div class="card-content">
                <h2 class="card-title">Building a Center of Expertise</h2>
                <p><%= lorem.sentences 3 %></p>
                <a href="" class="read_more">Read More &rsaquo;</a>
            </div>
        </li>
    </ul>
</section>
