---
title: home
---

<% content_for :local_styles do %>
    <style>
        <% img_path = asset_url(data.site.paths.content + 'home/') %>

        /* cover image */
        #cover {
            background-image: url('<%= img_path + data.site.cover_image[0].to_s %>');
        }
        <% if data.site.cover_image.length > 1 %>
        <% data.site.breakpoints.values.each_with_index do |size, index| %>
            <% next if index == 0 %>
            <% break if index == data.site.cover_image.length %>
                @media (min-width: <%= (size/16) %>em) {
                  #cover { background-image: url('<%= img_path + data.site.cover_image[index].to_s %>'); }
                }
            <% end %>
        <% end %>

        /* donors section */
        <% sitemap.where(:chapter => "home", :type => "billboard").order_by(:order).all.each do |billboard| %>
            #donors {
                background-image: url('<%= img_path + billboard.data.background[0].to_s %>');
            }
            <% if billboard.data.background.length > 1 %>
            <% data.site.breakpoints.values.each_with_index do |size, index| %>
                <% next if index == 0 %>
                <% break if index == billboard.data.background.length %>
                    @media (min-width: <%= (size/16) %>em) {
                      #cover { background-image: url('<%= img_path + billboard.data.background[index].to_s %>'); }
                    }
                <% end %>
            <% end %>
        <% end %>
    </style>
<% end %>

<header class="hero" id="cover">

    <!-- GPOBA logo -->
    <%= partial("layouts/partials/logo", :locals => { :classes => "hero-logo" }) %>

    <a class="hero-button" href="http://gpoba.org" target="_blank">
        <%= partial("layouts/partials/icon", :locals => { :id => "arrow-left-outline", :classes => "button-icon before", :fallback_type => "text", :fallback => "&lsaquo;" }) %>
        GPOBA Home
    </a>

    <a class="hero-button right" href="<%= asset_url data.site.download_version %>" target="_blank">
        <%= partial("layouts/partials/icon", :locals => { :id => "arrow-down-outline", :classes => "button-icon before", :fallback_type => "text", :fallback => "" }) %>
        Download
    </a>

    <!-- main title lockup -->
    <%= partial "layouts/partials/hero-lockup" %>

    <!-- main menu -->
    <%= partial("layouts/partials/nav-main", :locals => { :classes => "hero-nav" }) %>

    <a class="hero-pointer" href="#intro">
        <%= partial("layouts/partials/icon", :locals => { :id => "arrow-down", :classes => "hero-pointer-icon", :fallback_type => "text", :fallback => "Scroll for more" }) %>
    </a>
</header>

<article class="chapter" role="main" id="intro">

    <!-- Executive summary -->
    <div class="l-wrapper narrow chapter-content" id="summary">
        <% sitemap.where(:chapter => "home", :type => "introduction").order_by(:order).all.each do |summary| %>
            <h1 class="chapter-headline"><%= summary.data.title %></h1>
            <%= summary.render %>
        <% end %>
    </div>

    <!-- Leadership messages -->
    <aside class="box" id="messages">
        <h1 class="slug">Messages from our leadership</h1>
        <div class="l-wrapper">
            <ul class="gallery large">
                <% sitemap.where(:chapter => "home", :type => "message").order_by(:order).all.each do |message| %>
                <li class="gallery-item">
                    <a class="card tile secondary" href="<%= message.url %>">
                        <h2 class="card-title"><%= message.data.title %></h2>
                        <span class="card-subtitle">
                            <% message.data.authors.each_with_index do |author, index| %>
                                <%= author.name %><% if message.data.authors.length > 1 && index < message.data.authors.length - 1 %>, <% end %>
                            <% end %>
                        </span>
                        <span class="button read_more">
                            Read More
                            <%= partial("layouts/partials/icon", :locals => { :id => "arrow-right", :classes => "button-icon", :fallback_type => "text", :fallback => "&rsaquo;" }) %>
                        </span>
                    </a>
                </li>
                <% end %>
            </ul>
        </div>
    </aside>
</article>

<!-- Donors -->
<section class="billboard" id="donors">
    <div class="billboard-frame">
        <% sitemap.where(:chapter => "home", :type => "billboard").order_by(:order).all.each do |billboard| %>
            <h1 class="billboard-title"><%= billboard.data.title %></h1>
            <%= billboard.render %>
        <% end %>
        <ul class="billboard-gallery small align-middle">
            <% data.logos_and_flags.donors.each do |donor| %>
            <li class="gallery-item">
                <%= partial("layouts/partials/logo", :locals => { :classes => "logo", :filename => donor.filename, :link => donor.url, :alt => donor.name }) %>
            </li>
            <% end %>
        </ul>
    </div>
</section>

<!-- Section cards ("table of contents") -->
<section class="panel well" id="toc">
    <h1 class="panel-slug">Sections</h1>
    <ul class="feed l-wrapper">
        <% data.chapters.each do |chapter| %>
            <li class="feed-item card horizontal tile theme-highlight <%= chapter.color %>">
                <a class="card-thumb" href="<%= data.site.paths.chapter %><%= chapter.slug.urlize %>">
                    <img src="<%= asset_url(data.site.paths.content + chapter.slug.urlize + '/' + chapter.image[0].to_s) %>" />
                </a>
                <div class="card-content">
                    <h2 class="card-title"><a href="<%= data.site.paths.chapter %><%= chapter.slug.urlize %>"><%= chapter.title %></a></h2>
                    <p><%= lorem.sentences 3 %>.</p>
                    <a class="button read_more" href="<%= data.site.paths.chapter %><%= chapter.slug.urlize %>">
                        Read More
                        <%= partial("layouts/partials/icon", :locals => { :id => "arrow-right", :classes => "button-icon", :fallback_type => "text", :fallback => "&rsaquo;" }) %>
                    </a>
                </div>
            </li>
        <% end %>
    </ul>
</section>
