---
title: home
---

<header class="hero">
    <span class="hero-logo">GPOBA</span>
    <div class="hero-headline">
        <h1 class="hero-title">Annual Report</h1>
        <time class="hero-date">2015</time>
    </div>

    <%= partial "layouts/partials/main_menu" %>
</header>

<article class="panel">
    <!-- Executive summary -->
    <div class="l-wrapper narrow">
        <h2>A Year in Review</h2>
        <% 1.upto(4) do |num| %>
            <p><%= lorem.sentences 4 %></p>
        <% end %>
        <img src="<%= lorem.image '800x400' %>" />
        <% 1.upto(2) do |num| %>
            <p><%= lorem.sentences 4 %></p>
        <% end %>
    </div>

    <!-- Leadership messages -->
    <aside class="l-wrapper">
        <h3>Messages from our leadership</h3>
        <ul class="gallery">
            <li class="gallery-item media">
                <a href="#" class="media-thumb">
                    <img src="<%= lorem.image '400x400' %>" />
                </a>
                <div class="media-content">
                    <h4>Ted Hypothetical</h4>
                    <span>Senior Director</span>
                </div>
            </li>
            <li class="gallery-item media">
                <a href="#" class="media-thumb">
                    <img src="<%= lorem.image '400x400' %>" />
                </a>
                <div class="media-content">
                    <h4>Ted Hypothetical</h4>
                    <span>Senior Director</span>
                </div>
            </li>
            <li class="gallery-item media">
                <a href="#" class="media-thumb">
                    <img src="<%= lorem.image '400x400' %>" />
                </a>
                <div class="media-content">
                    <h4>Ted Hypothetical</h4>
                    <span>Senior Director</span>
                </div>
            </li>
        </ul>
    </aside>
</article>

<section class="panel">
    <h2 class="panel-slug">Sections</h2>
    <ul class="feed l-wrapper">
        <li class="media">
            <h3 class="media-title"></h3>
            <a href="#" class="mjahaedia-thumb">
                <img src="<%= lorem.image '600x400' %>" />
            </a>
            <
        </li>
        <li class="media">
            <h3 class="media-title"></h3>
            <a href="#" class="media-thumb">
                <img src="<%= lorem.image '600x400' %>" />
            </a>
        </li>
        <li class="media">
            <h3 class="media-title"></h3>
            <a href="#" class="media-thumb">
                <img src="<%= lorem.image '600x400' %>" />
            </a>
        </li>
    </ul>
</section>
